@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


button{
    cursor: pointer;
}
body {
    background-image: url("../img/book-794978.jpg");
    background-position: top;
    background-repeat: repeat-y;
    color: rgba(5, 4, 4, 0.911);
    font-family: 'DotGothic16', sans-serif;
    font-weight: bolder;
    margin: auto;
}

div,
h1,
h2,
button,
form,
table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.board {
    border: 1px solid black;
}


.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
   
}

form {
    flex-direction: column;
}

.game-btn {
    margin: auto;
}


.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-image: url("../img/grass.png");
    opacity: unset;
}

.wall {
    background-image: url("../img/close.png");
   /* width: auto; */
    background-color: rgba(0, 0, 0, 0.685);
}

.water {
    background-image: url("https://i.pinimg.com/originals/48/42/41/4842415e5f93c69717a67668fd1fb85b.gif");
}

.target {
    background-image: url("../img/Fill-Drit.jpg");
   
}

.flash {
    animation: blink 1s;
    animation-iteration-count: infinite;

}

    


.btn-manual-game {
    display: flex;
    justify-content: center;
}
.btn-manual-game > img {
 
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.win-msg {
    display: none;
}
.game-stats-warper {
    display: flex;
    flex-direction: column;
}
.game-data-warper {
    display: flex;
    /* flex-direction: column; */

}

.game-data-warper button {
    width: 50px;
    margin: 2px;
}
button {
    background: rgba(34, 34, 34, 0.582);
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: rgba(238, 238, 238, 0.808);
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    
  }
  
  button #circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  button:hover {
    background: transparent;
    color: rgba(34, 34, 34, 0.582);
  }
  
  button:hover #circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }
.btn-active {
    background-color: rgb(114, 236, 0);
}
.btn-deactivate {
    background-color: rgb(230, 45, 45);
    cursor: not-allowed
}

.btn-deactivate:hover  {
    background-color: rgb(230, 45, 45);
}