@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


button{
    cursor: pointer;
}
body {
    background-image: url("../img/book-794978.jpg");
    background-position: top;
    background-repeat: repeat-y;
    color: rgba(5, 4, 4, 0.664);
    font-family: 'DotGothic16', sans-serif;
    font-weight: bolder;

}

div,
h1,
h2,
button,
form,
table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.board {
    border: 1px solid black;
}


.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
   
}

form {
    flex-direction: column;
}

.game-btn {
    margin: auto;
}


.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-image: url("../img/grass.png");
}

.wall {
    background-image: url("../img/close.png");
   /* width: auto; */
    background-color: rgba(0, 0, 0, 0.459);
}

.water {
    background-image: url("https://i.pinimg.com/originals/48/42/41/4842415e5f93c69717a67668fd1fb85b.gif");
}

.target {
    background-image: url("../img/Fill-Drit.jpg");
   
}

.flash {
    animation: blink 1s;
    animation-iteration-count: infinite;

}
.road {
    background-image: url("../img/road-1303617_640.jpg");
}
    


.btn-manual-game {
    display: flex;
    justify-content: center;
}
.btn-manual-game > img {
 
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.win-msg {
    display: none;
}

.game-data-warper {
    display: flex;
    flex-direction: column;

}

.game-data-warper button {
    width: 50px;
    margin: auto;
}

.btn-active {
    background-color: rgb(123, 255, 0);
}
.btn-deactivate {
    background-color: rgb(255, 0, 0);
    cursor: not-allowed
}