body {
    background-color: black;
    color: white;
}

div,
h1,
h2,
button,
form,
table {
    display: flex;
    justify-content: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center
}

form {
    flex-direction: column;
}

form>* {
    margin: auto;
}

form>input {
    width: 150px;
}


.cell img {
    width: 25px;
    height: auto
}

.floor {
    background-image: url("../img/grass.png");
    opacity: 0.8;
}

.wall {
    background-image: url("../img/close.png");
}
.water {
    background-image: url("https://i.pinimg.com/originals/48/42/41/4842415e5f93c69717a67668fd1fb85b.gif");
}

.target {
    display: table;
    border-spacing: 8.9px;
    position: relative;
}

.target:before {
    display: table-cell;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border: 2px solid blue;
    border-radius: 50%;
    content: "";
    position: absolute;
}

.target:after {
    display: table-cell;
    vertical-align: middle;
    height: 10px;
    width: 10px;
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 16.5px;
    top: 16.5px;
}




.win-msg {
    display: none;
}

.game-data-warper {
    display: flex;
    flex-direction: column;

}

.game-data-warper button {
    width: 50px;
    margin: 0;
    margin: auto
}